<?xml version="1.0"?>

<launch>

  <arg name="robot_namespace" default="/"/>
  <arg name="kinect_enabled" default="$(optenv MM_KINECT_ENABLED true)"/>


  <param name="robot_description" command="$(find xacro)/xacro '$(find mm_description)/urdf/mm.urdf.xacro'
    --inorder
    robot_namespace:=$(arg robot_namespace)
    kinect_enabled:=$(arg kinect_enabled)
    " />


</launch>
